[Unit]
Description=Netapp Docker Volume Plugin - <driver_name>
Requires=docker.service
After=docker.service

[Service]
Type=Simple
Restart=always
ExecStart=/usr/local/bin/netappdvp --config=/etc/netappdvp/configuration.json

[Install]
WantedBy=multi-user.target